@using PagedList.Mvc

@model  PagedList.IPagedList<FemiHealthArabForum.Models.Atendee>


@using (Html.BeginForm())
{
    <table>
        <tr>
            <th style="border: 2px solid black; text-align: center; width: 15%">
                ID
            </th>
            <th style="border: 2px solid black; text-align: center; width: 50%">
                Name
            </th>
            <th style="border: 2px solid black; text-align: center; width: 50%">
                Email
            </th>
            <th style="border: 2px solid black; text-align: center; width: 50%">
                Phone
            </th>
            <th style="border: 2px solid black; text-align: center; width: 50%">

            </th>
            <th style="border: 2px solid black; text-align: center; width: 50%">

            </th>
        </tr>
        @foreach (var item in Model)
        {
    <tr>
        <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
            <a type="button" class="btn btn-info" href="/Home/print?name=@item.Name&id=@item.ID" target="_blank">Print</a>

        </td>
        <td style="border: 2px solid black; text-align: center; word-wrap: break-word;">
            <button type="button" class="btn btn-danger" onclick="Delete('@item.ID')">Delete</button>

        </td>
    </tr>

        }
    </table>
    <br />

    <div id='Paging' style="text-align: center">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
        of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("AtendeesListing", new { page, searchText = ViewBag.searchText }))
    </div>
}

